/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;  
}

.hidden-image {
    display: none;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background: linear-gradient(135deg, #a4c5e6, #0056A6);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    gap: 16px; 
    padding: 16px; 
}

.footer1 {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    font-size: 12px;
    white-space: nowrap;
}

.footer2 {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    font-size: 12px;
}

/* Card centralizado */
.card {
    background: white;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    max-width: 450px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Header com logo e título */
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px; 
    text-align: center;
}

.header-logo p {
    font-size: 18px;
    font-weight: 600;
    color: #023e8a;
    margin-bottom: 10px;
}

.header-logo img {
    max-width: 500px;
    height: auto;
}

#noResultsMessage {
    color: #ff4d4d; 
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: -20px; 
}

.hidden {
    display: none;
}

#rodarNovamenteBtn {
    margin-top:20px;
}

/* Título dentro do card */
.titulo {
    background: linear-gradient(90deg, #a4c5e6, #53a0e9);
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: -15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.subtitulo {
    font-size: 24px;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
    margin-top: -10px;
}

/* Selects */
select {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.2s all;
    background-color: white;
    color: #023e8a;
    font-weight: 400;
}

select:hover, select:focus {
    border-color: #0077b6;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    outline: none;
}

/* Botão */
button {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background-color: #0056A6;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s all;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 100%; 
}

button:hover {
    background-color: #0077b6;
    transform: translateY(-2px);
}

.button-container {
    margin-top: 10px;
    margin-bottom: -15px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    justify-content: center;
}

#todosBtn {
    background-color: #345988;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    max-height: auto;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    max-width: 450px;
    width: 90%;
    max-height: auto;
    height: 90%;
    position: relative;
    animation: scaleUp 0.3s;
}

.modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: color 0.2s;
}

.modal .close:hover {
    color: #ff4d4d;
}

.modal h1 {
    color: #0077b6;
}

.modal h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -20px;
    color: #0077b6;
}

.modal p {
    font-size: 26px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #0077b6;
}

/* Animação do modal */
@keyframes scaleUp {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}

/* Estilos dos campos do restaurante (Sorteio) */
#nomeRestaurante {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #023e8a;
}

#beneficioDescricaoRestaurante {
    font-size: 19px;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #0077b6;
}

#horaRestaurante, 
#bairroRestaurante {
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #0077b6;
}

#feriadoRestaurante,
#dataComemorativaRestaurante,
#takeAwayRestaurante,
#petFriendlyRestaurante,
#vegetarianRestaurante,
#veganRestaurante {
    font-size: 16px; 
    font-weight: 600;
    margin-top: -4px;
    color: #0077b6;
}

.info-columns {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 10px 4%;
    margin-top: 10px;
}

.info-columns p {
    flex-basis: 48%; 
    font-size: 16px; 
    font-weight: 700;
    margin-top: 40px; 
    color: #0077b6;
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Animação do blur da roleta */
#nomeRestaurante.spinning,
#horaRestaurante.spinning,
#bairroRestaurante.spinning,
#feriadoRestaurante.spinning,
#dataComemorativaRestaurante.spinning,
#takeAwayRestaurante.spinning,
#petFriendlyRestaurante.spinning, 
#vegetarianRestaurante.spinning,
#veganRestaurante.spinning,
#beneficioDescricaoRestaurante.spinning {
    filter: blur(2px);
    transition: filter 0.3s ease-out;
}

.flags-check {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px 10px;
}

.flags-check-segunda-linha {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px 10px;
}

.flags-check label {
    display: flex; 
    align-items: center; 
    gap: 4px; 
    font-size: 15px;
    color: #023e8a;
    cursor: pointer;
    margin-bottom: 10px;
    white-space: nowrap;
    
}

.flags-check input[type="checkbox"] {
    accent-color: #ffffff;
    width: 18px;
    height: 14px;
    cursor: pointer;
    margin: 0; 
}

/* Media Query para telas menores */
@media screen and (max-width: 500px) {
    .flags-check {
        justify-content: flex-start; 
        gap: 10px; 
    }

    .flags-check label {
        font-size: 13px; 
    }     

    .flags-check input[type="checkbox"] {
        transform: scale(0.8);
        margin-right: 2px;
    }
}

/* Estilos para a seção de dias da semana */
.dias-semana {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 15px 0;
}

.dia-circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.dia-circulo-lista {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 2px;
    background-color: #ccc;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dia-ativo {
    background-color: #0077b6;
}

.dia-inativo {
    background-color: #ccc;
    opacity: 0.6;
}

.dia-circulo-lista.dia-ativo {
    background-color: #0077b6;
    color: white;
}

.dia-circulo-lista.dia-inativo {
    background-color: #ccc;
    color: white;
}


/* --- ESTILOS DA LISTA DE RESTAURANTES (BOTÃO TODOS) --- */

.lista-de-restaurantes p,
.lista-de-restaurantes strong,
.lista-de-restaurantes span {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #333;
}

lista-de-restaurantes .beneficio-lista {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #cc6600;
}

.lista-de-restaurantes .restaurante-bairro-list,
.lista-de-restaurantes .restaurante-hora-list {
    font-size: 12px !important;
    margin-bottom: 5px;
}

.lista-de-restaurantes strong {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #0077b6;
}

.lista-de-restaurantes {
    list-style: none;
    padding: 0;
    margin: 20px 0px;
    max-height: 480px; 
    font-size: 12px;
    overflow-y: auto;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.restaurante-item {
    display: flex;
    align-items: flex-start; 
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    font-size: 12px;
    min-height: 140px; 
}

.list-item-image {
    width: 100px; 
    height: 180px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.restaurante-info-list {
    flex-grow: 1; 
    text-align: left; 
    margin-bottom: 10px; 
}

.restaurante-info-list strong {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

.location-time-info {
    display: flex;
    gap: 15px; 
}

.restaurante-bairro-list, .restaurante-hora-list {
    margin: 5px; 
    font-size: 0.9em;
}

.location-time-info {
    display: flex;
    flex-direction: column;  
    gap: 2px;                 
    margin-bottom: 10px;
}

.location-time-info p {
    font-size: 11px;          
    margin: 0;
    line-height: 1.3;
}

.beneficio-lista {
    color: #cc6600;
    font-size: 0.9em;
    margin: 5px 0 15px 0; 
    font-weight: 500;
}

/* Estiliza os ícones de status */
.status-icons {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    color: #0077b6; 
}

.status-icons span {
    font-size: 0.95em; 
    white-space: nowrap; 
}

.no-results-list {
    text-align: center;
    padding: 20px;
    color: #ff0000;
}
