/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-image {
    display: none;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background: linear-gradient(135deg, #a4c5e6, #0056A6);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    gap: 16px;               
    padding: 16px;       
}

.footer1 {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    font-size: 12px;
    white-space: nowrap;
}

.footer2 {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    font-size: 12px;
}

/* Card centralizado */
.card {
    background: white;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

/* Header com logo e título */
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px; /* Corrigido de 15x para 15px */
    text-align: center;
}

.header-logo p {
    font-size: 18px;
    font-weight: 600;
    color: #023e8a;
    margin-bottom: 10px;
}

.header-logo img {
    max-width: 500px;
    height: auto;
}

#noResultsMessage {
    color: #ff4d4d; 
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: -20px;  
}

.hidden {
    display: none;
}

#rodarNovamenteBtn {
    margin-top:20px;
}

/* Título dentro do card */
.titulo {
    background: linear-gradient(90deg, #a4c5e6, #53a0e9);
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.subtitulo {
    font-size: 24px;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

/* Selects */
select {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.2s all;
    background-color: white;
    color: #023e8a;
    font-weight: 400;
}

select:hover, select:focus {
    border-color: #0077b6;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    outline: none;
}

/* Botão */
button {
    padding: 12px 30px;
    margin-bottom: -35px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background-color: #0056A6;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s all;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #0077b6;
    transform: translateY(-2px);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    max-width: 400px;
    width: 90%;
    position: relative;
    animation: scaleUp 0.3s;
}

.modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: color 0.2s;
}

.modal .close:hover {
    color: #ff4d4d;
}

.modal h1 {
    color: #0077b6;
}

.modal h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -20px;
    color: #0077b6;
}

.modal p {
    font-size: 26px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #0077b6;
}

/* Animação do modal */
@keyframes scaleUp {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}

/* Estilos dos campos do restaurante */
#nomeRestaurante {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #023e8a;
}

#beneficioDescricaoRestaurante {
    font-size: 19px;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #0077b6;
}

#horaRestaurante, 
#bairroRestaurante {
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #0077b6;
}

#feriadoRestaurante,
#dataComemorativaRestaurante,
#takeAwayRestaurante,
#petFriendlyRestaurante,
#vegetarianRestaurante,
#veganRestaurante {
    font-size: 16px; 
    font-weight: 600;
    margin-top: -4px;
    color: #0077b6;
}

.info-columns {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 10px 4%;
    margin-top: 10px;
}

/* Aplique os estilos de texto aos parágrafos dentro do contêiner */
.info-columns p {
    flex-basis: 48%; 
    font-size: 16px; 
    font-weight: 700;
    margin-top: 40px; 
    color: #0077b6;
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Animação do blur da roleta */
#nomeRestaurante.spinning,
#horaRestaurante.spinning,
#bairroRestaurante.spinning,
#feriadoRestaurante.spinning,
#dataComemorativaRestaurante.spinning,
#takeAwayRestaurante.spinning,
#petFriendlyRestaurante.spinning, 
#vegetarianRestaurante.spinning,
#veganRestaurante.spinning,
#beneficioDescricaoRestaurante.spinning {
    filter: blur(2px);
    transition: filter 0.3s ease-out;
}

.flags-check {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px 10px;
}

.flags-check-segunda-linha {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px 10px;
}

.flags-check label {
    display: flex; 
    align-items: center; 
    gap: 4px; 
    font-size: 15px;
    color: #023e8a;
    cursor: pointer;
    margin-bottom: 10px;
    white-space: nowrap;
    
}

.flags-check input[type="checkbox"] {
    accent-color: #ffffff;
    width: 18px;
    height: 14px;
    cursor: pointer;
    margin: 0; 
}

/* Media Query para telas menores */
@media screen and (max-width: 500px) {
    .flags-check {
        justify-content: flex-start; 
        gap: 10px; 
    }

    .flags-check label {
        font-size: 13px; 
    }    

    .flags-check input[type="checkbox"] {
        transform: scale(0.8);
        margin-right: 2px;
    }
}

/* Estilos para a seção de dias da semana */
.dias-semana {
    display: flex;
    justify-content: center;
    gap: 8px; /* Espaço entre as bolinhas */
    margin: 15px 0; /* Margem superior e inferior */
}

.dia-circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Torna o elemento uma bolinha */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.dia-ativo {
    background-color: #0077b6; /* Cor para dias de funcionamento */
}

.dia-inativo {
    background-color: #ccc; /* Cor para dias de não funcionamento */
    opacity: 0.6; /* Deixa a bolinha "desabilitada" */
}

.button-container {
    margin-top: 5px;
}